<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Call Log</title>

</head>
<body>
 <table class="logstable table table-hover">
 	<tr id="show_greendata" style="display: none;">
  
	</tr>
    <% if (rows && rows.length) {
	rows.forEach(row => { %>
	<tr>
	<td>
	<p class="logname"><%= row.f1 %></p>
	<p class="logno" ondblclick="manual_callback_dial('<%= row.phone %>','<%= row.campaign %>','<%= row.data_id %>','<%= row.recall_id %>')"><%= row.phone %></p>
	</td>
	<td style="text-align: right;">
	<p class="logname-date" title='<%= row.calldate %>''>
		
		<%= row.calldate %>
	</p>
	<div class="btn-group">
	<p class="logdotes" data-toggle="dropdown"
	aria-haspopup="true" aria-expanded="false"
	style="cursor: pointer;">
	<i class="fa fa-ellipsis-h"></i>
   <div class="dropdown-menu"
    style="position: absolute;transform: translate3d(-56px, 18px, 0px);top: -18px;left: 0px;will-change: transform;">
   	<a class="dropdown-item" href="javascript:void(0)" onclick="Callback_sch('<%= row.recall_id %>','<%= row.callback_datetime %>')">Reschedule</a>
	<a class="dropdown-item" href="javascript:void(0)" onclick="Callback_d('<%= row.recall_id %>')">Call Details </a>
	<a class="dropdown-item" href="#!"  onclick="Callback_h('<%= row.data_id %>')">History </a>
	<a class="dropdown-item" href="javascript:void(0)" onclick="showWhatapp('<%= row.phone %>')">WhatsApp</a>
	</div>
	</p>
			
	</div>
	</td>
</tr>                                                        </tr>
															  
    <% }); %>
    <% } else { %>
	<tr>
    <td colspan="2">No data found</td>
	</tr>
   <% } %>
   </table>
</body>
</html>