
  <% if (rows && rows.length) { %>
  <table class="table table-hover">
  <thead style="background-color: #ffffffbf;">
    <tr>
        <th style="border:none;">Interactions</th>
        <th style="border:none;">Interactions ID</th>
        <th style="border:none;">Email ID</th>
        <th style="border:none;">Date</th>
        <th style="border:none;">Time</th>
        <th style="border:none;">Email Type</th>
        <th style="border:none;">Action</th>
     </tr>
 </thead>
      
        <tbody>
        <% rows.forEach(row => { %>
          <tr>
		   <td><img src="assets/images/mail.svg" alt="" /></td>
		   <td><%= row.rid %></td>
		    <td title="<%= row.mail_subject %>"><%= row.from_id %></td>
           <td><%= row.emaildate %></td>
             <td><%= row.emailtime %></td>
			  <td><%= 'RECEIVE' %></td>
			  <td>
             <img src="assets/images/view.svg" id="customOpenModalBtn" alt="" style="cursor:pointer"  onclick="openModal('<%= row.mail_content %>')"/>
           </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
   <% } %>
  